@import url('../../App.css');

.menu-container{
  position: absolute;
  
  height: 92.5vh;
  width: 100vw;

  top: 7.5vh;
  left: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center; /* adjusted */

}

.menu-button{
  width: 20vw;
  height: 20vw;

  background-color: var(--components-black);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  color: var(--electron-green);
  font-size: 1.5rem;
  font-weight: bold;

}

.menu-icon{
  color: white;
  width: 50%;
  height: auto;
}