@import url(../../App.css);

.header{
  position: absolute;
  top: 0;
  left: 0;

  height: 7.5vh;
  width: 100vw;

  background-color: #151515;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.electronPharm{
  margin-left: 16px;
}

.username{
  margin-right: 16px;
  font-size: 1.25rem;
}