.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .topnav {
    background-color: black;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  
  .search_box {
    width: 50%;
    position: relative;
    margin-top: 20px;
  }
  
  .search_box input[type="text"] {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    color: white;
  }
  
  ::-webkit-input-placeholder {
    color: white;
  }
  
  ::-moz-placeholder {
    color: #fff;
  }
  
  ::-ms-input-placeholder {
    color: #fff;
  }
  
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    width: 70px;
    height: 100%;
    background: black;
  }
  
  .sidebar ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
  }
  
  .sidebar ul a .icon-sidebar {
    color: white;
    align-self: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .electron-back {
    background-color: #5d5a5a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
  }
  
  .box {
    width: 250px;
    height: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
  }
  
  .box-row {
    display: flex;
    flex-direction: row;
  }
  .icons {
    color: white;
    align-self: center;
    margin-top: 20px;
    width: 65%;
    height: auto;
  }
  
  h3 {
    color: #14c38e;
    text-align: center;
  }
  
  body,
  html {
    height: 100vh;
  }
  
  body {
    background-color: #5d5a5a;
  }
  
  .menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
  }
  
  .icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    color: #fff;
    font-size: 25px;
  }
  
  .add-product{
    color: #14c38e;
    height: 50px;
    width: 200px;
    margin-right: 20px;
    background-color: black;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 425px) {
    .search_box {
      width: 50%;
      position: relative;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }