body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

.electron-back {
  background-color: #5d5a5a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 250px;
  height: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px;

  cursor: pointer;
}

.box:hover {
  background-color: #333;
}

.box-row {
  display: flex;
  flex-direction: row;
}

.icons {
  color: white;
  align-self: center;
  margin-top: 20px;
  width: 65%;
  height: auto;
}

h3 {
  color: #14c38e;
  text-align: center;
}

body,
html {
  height: 100vh;
}

body {
  background-color: #5d5a5a;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
}
