:root {
  --background-gray: #333333;
  --components-black: #101010;
  --electron-green: #14C38E;
}

body{
  margin: 0;
  padding: 0;

  background-color: var(--background-gray);
}


.pages{
  position: absolute;
  top: 7.5vh;
  left: 7.5vw;
  height: 92.5vh;
  width: 92.5vw;
}