body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav {
  background-color: black;
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;

}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

.search_box{
  width: 50%;
  position: relative;
}

.search_box input[type="text"] {
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  font-size: 18px;
  color: white;
}

::-webkit-input-placeholder{
  color: white;
}

::-moz-placeholder{
  color: #fff;
}

::-ms-input-placeholder{
  color: #fff;
}

.sidebar ul a{ 
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255, .1);
  border-bottom: 1px solid black;
  transition: .4s;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper{
  display:flex;
  justify-content: center;
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}

.icon-sidebar {
  color: white;
  align-self: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 70px;
  height: 100%;
  background: black;
}
.electron-back {
  background-color: #5d5a5a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 250px;
  height: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px;
}

.box-row {
  display: flex;
  flex-direction: row;

}
.icons {
  color: white;
  align-self: center;
  margin-top: 20px;
  width: 65%;
  height: auto;
}

h3 {
  color: #14c38e;
  text-align: center;
}

body,
html {
  height: 100vh;
}

body {
  background-color: #5d5a5a;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
}

.icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: #fff;
  font-size: 25px;
}

@media screen and (max-width: 425px){
  .search_box{
    width: 50%;
    position: relative;
  }
   
}